/* Sample CSS for the module shootevents */
/* Block */
table.block-shootevents {
}
table.block-shootevents td {
}
table.block-shootevents td.light{
}
table.block-shootevents td.dark {
}
table.block-shootevents small {
}

/* List */
table.shootevents {
	width: 95%;
}
table.shootevents th {
	text-align: left;
}
table.shootevents td {
	vertical-align: top;
}
table.shootevents img {
	float: right;
	border: 0 none black;
}


